<header class="nav">
  <input type="checkbox" id="nav-check" #navCheck />
  <div class="nav-header">
    <p>&lsaquo;WDM/&rsaquo;</p>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <nav class="nav-links">
    <a (click)="hideNav(navCheck)" href="#home">Home</a>
    <a (click)="hideNav(navCheck)" href="#about">Sobre mim</a>
    <a (click)="hideNav(navCheck)" href="#projects">Projetos</a>
  </nav>
</header>
