<footer>
  <p>Copyright © 2023 - William Dias Marcos. Todos os direitos reservados.</p>

  <div>
    <a href="mailto:william.diasmarcos@gmail.com?" target="_blank"
      ><img src="../../../assets/icon/gmail.png" alt="Logo Gmail"
    /></a>
    <a href="https://github.com/William-Dias-Marcos" target="_blank"
      ><img src="../../../assets/icon/github.png" alt="Logo GitHub"
    /></a>
    <a href="https://www.linkedin.com/in/william-dias-marcos/" target="_blank"
      ><img src="../../../assets/icon/linkedin.png" alt="Logo Linkedin"
    /></a>
  </div>
</footer>
