<footer
  class="footer footer-center bg-base-200 text-base-content rounded p-10 bottom-0">
  <nav>
    <div class="grid grid-flow-col gap-5">
      <a
        href="mailto:william.diasmarcos@gmail.com"
        target="_blank"
        class="tooltip"
        data-tip="Email">
        <i class="fa-solid fa-envelope fa-xl"></i>
      </a>

      <a
        href="https://github.com/William-Dias-Marcos"
        target="_blank"
        class="tooltip"
        data-tip="GitHub">
        <i class="fa-brands fa-github fa-xl"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/william-dias-marcos/"
        target="_blank"
        class="tooltip"
        data-tip="LinkedIn">
        <i class="fa-brands fa-linkedin fa-xl"></i>
      </a>
    </div>
  </nav>
  <aside>
    <p>© {{ year }} William Dias Marcos. Todos os direitos reservados.</p>
  </aside>
</footer>
