footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;

  padding: 20px;
  color: #fff;
}

p {
  text-align: center;
}

img {
  width: 50px;
}

a {
  padding: 5px;
}
