<section id="projects">
  <h2>Projetos</h2>

  <div class="project">
    <div>
      <h3>Spaço7</h3>
      <div class="buttons">
        <a href="https://spaco7.netlify.app/" target="_blank">Visualizar</a>
        <a
          href="https://github.com/William-Dias-Marcos/Spaco7_Angular"
          target="_blank"
          >GitHub</a
        >
      </div>
      <p>
        Spaço7 é um estabelecimento que oferece serviços de bem-estar e cuidados
        pessoais. Desenvolvido como projeto freelance, o site utiliza
        tecnologias como Angular com TypeScript, CSS e HTML. Foi hospedado em um
        domínio para estar disponível na internet, proporcionando uma
        experiência atraente aos usuários.
      </p>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>Dominio e Hospedagem</li>
      </ul>
    </div>
    <a href="https://spaco7.netlify.app/" target="_blank" class="link-img"
      ><img src="../../../assets/Projects/Spaço7.png" alt="Spaço7"
    /></a>
  </div>

  <div class="project wrap">
    <a
      href="https://wordcurrencies.netlify.app/"
      target="_blank"
      class="link-img"
    >
      <img
        src="../../../assets/Projects/WordCurrencies.png"
        alt="Word Currencies"
      />
    </a>
    <div>
      <h3>Word Currencies</h3>
      <div class="buttons">
        <a href="https://wordcurrencies.netlify.app/" target="_blank"
          >Visualizar</a
        >
        <a
          href="https://github.com/William-Dias-Marcos/Word_Currencies_Angular"
          target="_blank"
          >GitHub</a
        >
      </div>
      <p>
        O Word Currencies é um conversor de moedas desenvolvido com TypeScript,
        HTML, Bootstrap e Angular. A aplicação utiliza serviços, pipes,
        diretivas e módulos do Angular para melhorar a organização e a
        funcionalidade. Ele consome a API da AwesomeAPI para obter os dados das
        moedas e permite que os usuários convertam moedas facilmente.
      </p>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Bootstrap</li>
        <li>HTML</li>
        <li>API</li>
      </ul>
    </div>
  </div>
</section>
