<section id="projects">
  <h2>Projetos</h2>

  <div class="project wrap">
    <a
      href="https://onlinecardgenerator.netlify.app/"
      target="_blank"
      class="link-img"
    >
      <img
        src="../../../assets/Projects/CardGenerator.png"
        alt="Card Generator"
      />
    </a>
    <div>
      <h3>Card Generator</h3>
      <div class="buttons">
        <a href="https://onlinecardgenerator.netlify.app/" target="_blank"
          ><i class="material-icons">open_in_new</i>
          Visualizar</a
        >
        <a
          href="https://github.com/William-Dias-Marcos/Card_Generator_Angular"
          target="_blank"
          ><i class="material-icons">open_in_new</i>
          GitHub</a
        >
      </div>
      <p>
        Card Generator é uma página para fazer um Cartão de Visitas, oferecendo um formulário para inserir dados e gerar um 
        cartão de visitas personalizado, permitindo até mesmo a adição de uma 
        imagem, trocar a cor da fonte, do fundo e o download do cartão.
      </p>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>Download de Imagem</li>
      </ul>
    </div>
  </div>

  <div class="project">
    <div>
      <h3>Spaço7</h3>
      <div class="buttons">
        <a href="https://spaco7.com/" target="_blank"><i class="material-icons">open_in_new</i>
          Visualizar</a>
        <a
          href="https://github.com/William-Dias-Marcos/Spaco7_Angular"
          target="_blank"
          ><i class="material-icons">open_in_new</i>
          GitHub</a
        >
      </div>
      <p>
        Spaço7 é um estabelecimento que oferece serviços de bem-estar e 
        cuidados pessoais. Desenvolvido como freelancer, o site atende as 
        exigências do cliente, com foco em apresentar os serviços oferecidos no 
        estabelicimento. Foi hospedado em um domínio para estar disponível na 
        internet, proporcionando uma experiência atraente aos usuários.
      </p>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>Dominio e Hospedagem</li>
      </ul>
    </div>
    <a href="https://spaco7.com/" target="_blank" class="link-img"
      ><img src="../../../assets/Projects/Spaço7.png" alt="Spaço7"
    /></a>
  </div>

  <div class="project wrap">
    <a
      href="https://weatherforecastangular.netlify.app/"
      target="_blank"
      class="link-img"
    >
      <img
        src="../../../assets/Projects/WeatherForecast.png"
        alt="Word Currencies"
      />
    </a>
    <div>
      <h3>Weather Forecast</h3>
      <div class="buttons">
        <a href="https://weatherforecastangular.netlify.app/" target="_blank"
          ><i class="material-icons">open_in_new</i>
          Visualizar</a
        >
        <a
          href="https://github.com/William-Dias-Marcos/Weather_Forecast"
          target="_blank"
          ><i class="material-icons">open_in_new</i>
          GitHub</a
        >
      </div>
      <p>
        Weather Forecast representa uma aplicação Angular que fornece previsões
        meteorológicas em tempo real para cidades globais. Usando a API do 
        OpenWeather que oferece informações meteorológicas confiáveis. 
        Destaca-se pela segurança no desenvolvimento, graças aos testes com
        o Jasmine, proporcionando uma experiência confiável para atualizações 
        futuras.
      </p>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>API</li>
        <li>Jasmine</li>
      </ul>
    </div>
  </div>
  
  <div class="project">
    <div>
      <h3>Word Currencies</h3>
      <div class="buttons">
        <a href="https://wordcurrencies.netlify.app/" target="_blank"
          ><i class="material-icons">open_in_new</i>
          Visualizar</a
        >
        <a
          href="https://github.com/William-Dias-Marcos/Word_Currencies_Angular"
          target="_blank"
          ><i class="material-icons">open_in_new</i>
          GitHub</a
        >
      </div>
      <p>
        Weather Forecast representa uma aplicação Angular que fornece previsões
        meteorológicas em tempo real para cidades globais. Usando a API do 
        OpenWeather que oferece informações meteorológicas confiáveis. 
        Destaca-se pela confiabilidade no desenvolvimento, graças aos testes com 
        o Jasmine, proporcionando uma experiência confiável para atualizações 
        futuras.
      </p>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Bootstrap</li>
        <li>HTML</li>
        <li>API</li>
      </ul>
    </div>
      <a
      href="https://wordcurrencies.netlify.app/"
      target="_blank"
      class="link-img"
    >
      <img
        src="../../../assets/Projects/WordCurrencies.png"
        alt="Word Currencies"
      />
    </a>
  </div>
</section>
