<section class="container" id="home">
  <aside class="container-img">
    <img src="../../../assets/home-img.png" alt="Imagem do William" />
    <div class="buttons">
      <a
        href="https://www.linkedin.com/in/william-dias-marcos/"
        target="_blank"
      >
        LinkedIn
      </a>
      <a href="https://github.com/William-Dias-Marcos" target="_blank"
        >GitHub</a
      >
    </div>
  </aside>

  <section id="about">
    <h1>Olá, eu sou William Dias Marcos</h1>
    <p>
      Sou um estudante apaixonado por desenvolvimento Front-end, atualmente
      cursando Análise e Desenvolvimento de Sistemas. Desde 2022, mergulhei de
      cabeça na jornada do desenvolvimento web, e essa experiência tem sido
      absolutamente fascinante.
    </p>
    <p>
      Ao longo do tempo, tenho me dedicado a projetos pessoais, onde pude
      explorar meu potencial criativo e aprofundar meus conhecimentos em
      tecnologias incríveis, o que tornou meus estudos cada vez mais
      empolgantes. Meu compromisso é sempre buscar soluções inovadoras e estar
      em constante aprimoramento em todas as áreas do desenvolvimento.
    </p>
    <p>
      Uma parte importante da minha jornada tem sido minha atuação como
      freelancer. Essa experiência tem sido extremamente enriquecedora, pois me
      permitiu interagir diretamente com clientes e entender suas necessidades e
      expectativas. Aprendi a comunicar ideias complexas de forma clara e a
      trabalhar de forma efetiva em equipe, resultando em entregas bem-sucedidas
      e clientes satisfeitos.
    </p>
    <ul>
      <li>Angular</li>
      <li>React</li>
      <li>TypeScript</li>
      <li>JavaScript</li>
      <li>CSS</li>
      <li>HTML</li>
      <li>GIT</li>
      <li>MySQL</li>
    </ul>
  </section>
</section>
