<main class="flex flex-col gap-3 px-3">
  <p class="indent-8 text-justify">
    Sou um Desenvolvedor Frontend apaixonado por tecnologia e inovação, com mais
    de um ano de experiência na construção de aplicações web eficientes e
    escaláveis. Estou no último semestre da graduação em Análise e
    Desenvolvimento de Sistemas e sempre em busca de novos desafios para
    aprimorar minhas habilidades e crescer profissionalmente.
  </p>

  <p class="indent-8 text-justify">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis culpa
    commodi, corporis reiciendis architecto ipsum magnam voluptatem libero nulla
    officiis eligendi illum neque? Iusto iste, ipsa quasi cum nostrum ex commodi
    quas illum voluptatum molestias delectus laudantium vel recusandae maxime!
    Deserunt natus dolorum fuga ex. Assumenda totam aliquid est ullam quod
    itaque eaque eum veniam reprehenderit nulla sequi doloribus laborum harum
    neque consequuntur iusto fugit consequatur ipsam magni, voluptatem dolorem
    exercitationem. Maiores cumque quod iste pariatur exercitationem suscipit
    eveniet dolorum similique.
  </p>

  <p class="indent-8 text-justify">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam in iusto
    recusandae. Deserunt, repellendus mollitia excepturi itaque fugiat qui
    voluptates odit perspiciatis perferendis, hic suscipit culpa nulla dolore
    esse nemo quas autem iusto ex vitae natus laboriosam quidem temporibus
    sapiente! Alias a assumenda quas doloribus ut ea cumque, temporibus debitis.
  </p>
</main>
