<main class="flex flex-col gap-3 px-3">
  <p class="indent-8 text-justify">
    Sou Desenvolvedor Frontend com mais de um ano de experiência no
    desenvolvimento de aplicações web modernas, responsivas e escaláveis.
    Atualmente, estou no último semestre da graduação em Análise e
    Desenvolvimento de Sistemas e sempre em busca de novos desafios para
    aprimorar minhas habilidades e evoluir profissionalmente.
  </p>

  <p class="indent-8 text-justify">
    Ao longo da minha jornada, por meio de estudos autodidatas, cursos e
    graduação, adquiri conhecimentos sólidos em diversas tecnologias, incluindo
    Angular, TypeScript, JavaScript, HTML, CSS, PostgreSQL, SQL, Git, Linux,
    Docker, CI/CD, Nginx e Grafana. Minha atuação no Frontend é pautada na
    construção de interfaces eficientes, priorizando desempenho, acessibilidade
    e uma experiência de usuário aprimorada.
  </p>

  <p class="indent-8 text-justify">
    Atualmente, estou expandindo meus conhecimentos além do Frontend,
    aprofundando-me em DevOps e Backend. Meu objetivo é me tornar um
    profissional com a carreira em T, consolidando minha especialização em
    desenvolvimento Frontend, enquanto adquiro competências estratégicas em
    DevOps e Backend para agregar ainda mais valor aos projetos em que atuo.
  </p>
</main>
